* {
    margin: 5px;
    font-family: Helvetica, sans-serif;
}

body {
    position: relative;
    max-width: 1414px;
    margin: auto;
}

h2 {
    margin-top: 20px;
}

#ppicture {
    width: 15%;
    border: solid 1px;
    border-radius: 100%;
    position: absolute;
    right: 50px;
    top: 30px;
    min-width: 80px;
    max-width: 214px;
}
#ppicture:hover {
    transform: rotate(180deg);
    transition: all 1s ease;

}
a {
    color: black;
    text-decoration: none;

}
p.work {
    width: 50%;
}

.html5-progress-bar {
    padding: 15px 15px;
    background-color: #fff;
}

.html5-progress-bar progress {
    background-color: #f3f3f3;
    border: 1px solid;
    width: 33.3%;
    height: 18px;
    float: left;
}

.html5-progress-bar progress::-webkit-progress-bar {
    background-color: #f3f3f3;
    border: 1px solid;
}

.html5-progress-bar progress::-webkit-progress-value {
    /*background: #ffffff;*/
    /*background: -moz-linear-gradient(top, #ffffff 0%, #000000 0%);*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(0%, #000000));*/
    /*background: -webkit-linear-gradient(top, #ffffff 0%, #000000 0%);*/
    /*background: -o-linear-gradient(top, #ffffff 0%, #000000 0%);*/
    /*background: -ms-linear-gradient(top, #ffffff 0%, #000000 0%);*/
    background: #000000;
    /*filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956', GradientType=0 );*/
}

.html5-progress-bar progress::-moz-progress-bar {
    /*background: rgba(255, 255, 255, 0);*/
    /*background: -moz-linear-gradient(top, #ffffff 0%, #000000 00%);*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(0%, #000000));*/
    /*background: -webkit-linear-gradient(top, #ffffff 0%, #000000 0%);*/
    /*background: -o-linear-gradient(top, #ffffff 0%, #000000 0%);*/
    /*background: -ms-linear-gradient(top, #ffffff 0%, #000000 0%);*/
    /*background: linear-gradient(to bottom, #ffffff 0%, #000000 0%);*/
    /*filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956', GradientType=0 );*/
}

.html5-progress-bar .progress-value {
    padding: 0 5px;
    line-height: 20px;
    margin-left: 5px;
    font-size: .8em;
    color: #555;
    height: 18px;
    float: right;
}
footer {
    font-size: 12px;
}