* {
    margin: 5px;
    font-family: Helvetica, sans-serif;
}

h2 {
    margin-top: 20px;
}

body {
    position: relative;
    max-width: 1414px;
    margin: auto;
}

main {
    width: 66.6%;
}

img {
    width: 20px;
}

li > span, li > p {
    margin-left: 10px;
}

#ppicture {
    width: 15%;
    border: solid 1px;
    border-radius: 100%;
    position: absolute;
    right: 50px;
    top: 30px;
    min-width: 80px;
    max-width: 214px;
}

#ppicture:hover {
    transform: rotate(180deg);
    transition: all 1s ease;

}

a {
    color: black;
    text-decoration: none;

}

p.work {
    width: 50%;
}

footer {
    margin-top: 2%;
    font-size: 12px;
}

@media print {
    .progress-bar progress {
        width: 50%;
    }

    body {
        zoom: 85%;
    }

    main {
        width: 100%;
    }

    footer {
        margin-top: 11%;
        color: #5E5E5E;
    }
}

