#ppicture {
    width: 15%;
    float: right;
    border: solid 1px;
    border-radius: 100%;
}
#ppicture:hover {
    -webkit-transform: rotate(180deg);

}
a {
    color: black;
    text-decoration: none;

}
a:visited {
    color: grey;
    text-decoration: none;

}

progress {
    -webkit-appearance: none;
}